<!DOCTYPE html>
<html lang="ko">
{% load leaflet_tags %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
    <script type="text/javascript">
    function map_init_basic (map, options) {
        L.mapbox.accessToken = {{ token }};
// Replace 'mapbox.streets' with your map id.
var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
    attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
});
    var map = L.map('map')
    .addLayer(mapboxTiles)
    .setView([42.3610, -71.0587], 15);
        L.marker([50.5, 30.5]).addTo(map);
    }
    </script>

    {% leaflet_map "yourmap" callback="window.map_init_basic" %}

    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
    mapboxgl.accessToken = '{{ token }}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/outdoors-v9'
    });
    </script>
</body>
</html>