<!DOCTYPE html>
<html lang="ko">
{% load leaflet_tags %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% leaflet_js %}
    {% leaflet_css %}


</head>
<body>

    {{ point }}
    {{ center }}
    <script type="text/javascript">
        function main_map_init (map, options){
            // 지도 중심점 지정
            map.setView([{{ center.위도__avg }}, {{ center.경도__avg }}],12);
            // 지도에 보여줄 마크 추가
            {% for p in point %}
                L.marker([{{ p.위도 }},{{ p.경도 }}]).bindPopup('{{ p.이름 }}').addTo(map);
            {% endfor %}
        }
    </script>
    {% leaflet_map "main" callback="main_map_init" %}
</body>
</html>