<!DOCTYPE html>
<html lang="ko">
{% load leaflet_tags %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
    {% leaflet_map "yourmap" %}

    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
    mapboxgl.accessToken = '{{ token }}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/outdoors-v9'
    });
    </script>
</body>
</html>